{% extends 'admin/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block main_menu %}{% endblock %}
{% block body %}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-grey">Login</h3>
                <div class="box">
                    <form method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                        {% if error %}
                        <div class="notification is-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                        {% endif %}
                        <div class="field">
                            <div class="control">
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="input is-large" placeholder="Email" required autofocus>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input type="password" name="password" id="inputPassword" class="input is-large" placeholder="Password" required>
                            </div>
                        </div>
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox">
                                Remember me
                            </label>
                        </div>
                        <button class="button is-block is-default is-large is-fullwidth" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}{% endblock %}