{% extends 'admin/base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <h1 class="title">Categories</h1>
        {% if categories|length > 0 %}

        <table class="table is-striped is-fullwidth">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Unlisted</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <th>{{category.id}}</th>
                    <td>{{category.name}}</td>
                    <th>{{category.excludeFromIndex ? "Yes" : "No"}}</th>
                    <td><a class="button" href="{{ path('category_edit', {id: category.id})}}">Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</section>
{% endblock %}